<form [formGroup]="form" (submit)="formSubmit(form)">

  <div class="row form-group">
    <label  for="titleInput">Title</label>
    <input  type="text"
            class="form-control"
            id="titleInput"
            placeholder="Enter the Title"
            formControlName="title">

    <div *ngIf="form.get('title').errors?.required && form.get('title').dirty" class="text-danger">
      Field is required
    </div>
    <div *ngIf="form.get('title').errors?.minlength && form.get('title').dirty" class="text-danger">
      The minimum length of field is 3 characters
    </div>
  </div>

  <div class="row form-group">
    <label  for="descriptionInput">Description</label>
    <input  type="text"
            class="form-control"
            id="descriptionInput"
            placeholder="Enter last name"
            formControlName="description">
    <div *ngIf="form.get('description').invalid && form.get('description').dirty" class="text-danger">
      Field is required
    </div>
  </div>

  <div class="row form-group">
    <label class="form-control-label">Priority</label>
    <select class="form-control" formControlName="priorities">
      <option [ngValue]="null">Select</option>
      <option *ngFor="let lang of priorities" [ngValue]="lang">
        {{lang}}
      </option>
    </select>
    <div *ngIf="form.get('priorities').invalid && form.get('priorities').dirty" class="text-danger">
      Field is required
    </div>
  </div>

  <div class="row form-group">
    <label class="form-control-label">Reporter</label>
    <select class="form-control" formControlName="reporter">
      <option [ngValue]="null">Select</option>
      <option *ngFor="let lang of reporters" [ngValue]="lang">
        {{lang}}
      </option>
    </select>
    <div *ngIf="form.get('reporter').invalid && form.get('reporter').dirty" class="text-danger">
      Field is required
    </div>
  </div>

  <div class="row form-group">
    <label class="form-control-label">Status</label>
    <select class="form-control" formControlName="status">
      <option [ngValue]="null">Select</option>
      <option *ngFor="let lang of statuses" [ngValue]="lang">
        {{lang}}
      </option>
    </select>
    <div *ngIf="form.get('status').invalid && form.get('status').dirty" class="text-danger">
      Field is required
    </div>
  </div>

  <div class="row">
    <div class="col-form-label">
      <button class="mat-button" [disabled]="!form.valid">Submit</button>
    </div>
    <div class="col-form-label">
    <button class="mat-button" [routerLink]="''">Cancel</button>
    </div>
  </div>
</form>
